header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term...", name="term")
    .header__column
        ul
            li
                //pug에선 따로 import하지 않아도 바로 사용 가능.
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In